<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans         http://www.springframework.org/schema/beans/spring-beans.xsd         http://www.springframework.org/schema/context         http://www.springframework.org/schema/context/spring-context.xsd         http://www.springframework.org/schema/tx         http://www.springframework.org/schema/tx/spring-tx.xsd">

	<import resource="classpath*:applicationContext.xml"/>
	<import resource="classpath*:applicationContext-dao.xml"/>
	<import resource="classpath*:applicationContext-rest.xml"/>

	<bean class="com.makeandbuild.vessl.fixture.FixtureImpl" id="fixture" scope="singleton">
		<property name="entityLoaders">
			<list>
				<bean class="com.makeandbuild.vessl.fixture.ResourceEntityLoaderImpl">
					<constructor-arg value="/fixtures/com.makeandbuild.vessl.sample.domain.User.json"/>
				</bean>
				<bean class="com.makeandbuild.vessl.fixture.ResourceEntityLoaderImpl">
					<constructor-arg value="/fixtures/com.makeandbuild.vessl.sample.domain.Event.json"/>
				</bean>

			</list>
		</property>
		<property name="entityManagers">
			<list>
				<bean class="com.makeandbuild.vessl.fixture.DaoEntityManagerImpl">
					<constructor-arg ref="eventDao"/>
				</bean>
				<bean class="com.makeandbuild.vessl.fixture.DaoEntityManagerImpl">
					<constructor-arg ref="userDao"/>
				</bean>
			</list>
		</property>
	</bean>
	<bean class="com.makeandbuild.vessl.fixture.FixtureImpl" id="megaFixture" scope="singleton">
		<property name="entityLoaders">
			<list>
				<bean class="com.makeandbuild.vessl.fixture.IteratedInputStreamEntityLoaderImpl">
					<property name="inputStream" value="classpath:fixturesgen/com.makeandbuild.vessl.sample.domain.User.json"/>
					<property name="entityClass" value="com.makeandbuild.vessl.sample.domain.User"/>
				</bean>

			</list>
		</property>
		<property name="entityManagers">
			<list>
				<bean class="com.makeandbuild.vessl.fixture.DaoEntityManagerImpl">
					<constructor-arg ref="userDao"/>
				</bean>
			</list>
		</property>
	</bean>

</beans>